body {
    margin: 0;
    font-family: Arial;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
nav {
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: #000000;
}
nav ul {
    display: flex;
    list-style: none;
    gap: 15px;
}
nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.hero {
  height: 90vh;
  background-size: cover;
  background-position: center;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  color: white;
}
.hero::before {
  content: "";
  position: absolute;
  inset: 0;

  background: rgba(0,0,0,0.6);
}
.hero h1,
.hero p {
  position: relative;
  z-index: 2;
}
.hero h1 {
  font-size: 5rem;
  font-weight: bold;
}
.hero p {
  font-size: 1.5rem;
}
.music {
    text-align: center;
    padding: 40px;
}
.about {
    color: white;
    text-align: center;
    padding: 40px;
    background-color: #000000;
}
@media (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: center;
    }

    .hero h1 {
        font-size: 30px;
    }

    iframe {
        width: 90%;
    }
}
.col {
    transition: 0.2s;
}
.col:hover {
    background-color: #222 !important;
    transform: scale(1.05);
}
a {
    color: white !important;
    text-decoration: none !important;
}
.about-page {
    padding: 80px 20px;
}
.subtitle {
    color: #aaa;
}
.about-page img {
    max-width: 100%;
    border-radius: 10px;
}
.about-page p {
    font-size: 18px;
    line-height: 1.6;
}
.song-card {
  background: rgba(255,255,255,0.08);

  backdrop-filter: blur(10px);

  border-radius: 20px;

  padding: 25px;

  transition: 0.3s;
}
.song-card:hover {
  transform: translateY(-8px);

  box-shadow: 0 10px 30px rgba(255,255,255,0.2);
}
body {
  background:
    linear-gradient(
      135deg,
      #0f0f0f,
      #1b1b1b,
      #2c2c2c
    );
  color: white;
}